[submodule "themes/hexo-theme-obsidian"]
	path = themes/hexo-theme-obsidian
	url = https://github.com/TriDiamond/hexo-theme-obsidian.git
[submodule "themes/obsidian"]
	path = themes/obsidian
	url = https://github.com/TriDiamond/hexo-theme-obsidian.git
